body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Card{
  width: 50vw;
  height: 55vh;
  cursor: move;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.TextField{
  width: 11.5vw;
}

.closeBtn{
  justify-content: end;
  display: flex;
}
.content{
  height: 80%;
}
.Border{
  border: 1% solid black;
}

.rtl-input {
  direction: rtl;
}

.rtl-label {
  direction: rtl;
}